{% extends 'mail/base.html.twig' %}

{% block body %}
<h1>{{ 'user_registration.email_confirm.mail_title' | trans }}</h1>

<p>
    {{ 'user_registration.email_confirm.mail_description' | trans}} <br><br>
    <table role="presentation" border="0" cellpadding="0" cellspacing="0" class="btn btn-primary">
        <tbody>
        <tr>
            <td align="left">
                <table role="presentation" border="0" cellpadding="0" cellspacing="0">
                    <tbody>
                    <tr>
                        <td>
                            <a href="{{ signedUrl|raw }}">{{ 'user_registration.email_confirm.mail_cta' | trans }}</a>.
                        </td>
                    </tr>
                    </tbody>
                </table>
            </td>
        </tr>
        </tbody>
    </table>
    {{ 'user_registration.email_confirm.mail_about_link' | trans({'%expire%': expiresAtMessageKey|trans(expiresAtMessageData, 'VerifyEmailBundle')}) }}
</p>

<p>
    Cheers!
</p>
{% endblock %}
