{% extends 'base.html.twig' %}

{% block title %}{{ 'reset_password.email_form.title' | trans }}{% endblock %}

{% block body %}
    <main class="d-flex h-100 w-100">
        <div class="m-auto card p-3">
            {% for flashError in app.flashes('reset_password_error') %}
                <div class="alert alert-danger" role="alert">{{ flashError }}</div>
            {% endfor %}
            <h1>{{ 'reset_password.email_form.title' | trans }}</h1>

            {{ form_start(requestForm) }}
            {{ form_row(requestForm.email) }}
            <div class="mb-3">
                <small>
                    {{ 'reset_password.email_form.description' | trans }}
                </small>
            </div>

            <button class="btn btn-primary w-100">{{ 'reset_password.email_form.submit_cta' | trans }}</button>
            {{ form_end(requestForm) }}
        </div>
    </main>
{% endblock %}
