{% extends 'base.html.twig' %}

{% block title %}{{ 'reset_password.password_form.title' | trans }}{% endblock %}

{% block body %}
<main class="d-flex h-100 w-100">
    <div class="m-auto card p-3 bg-dark shadow">
    <h1>{{ 'reset_password.password_form.title' | trans }}</h1>

    {{ form_start(resetForm) }}
        {{ form_row(resetForm.plainPassword) }}
        <button class="btn btn-primary w-100">{{ 'reset_password.password_form.submit_cta' | trans }}</button>
    {{ form_end(resetForm) }}
    </div>
</main>
{% endblock %}
