{% extends 'challenge/challenge/base_challenge.html.twig' %}

{% block title %}Hello ChallengeController!{% endblock %}

{% block challenge_content %}
<div class="container my-5">
  <div class="row p-4 pb-0 pe-lg-0 pt-lg-5 align-items-center rounded-3 shadow-lg">
    <div class="col-lg-7 p-3 p-lg-5 pt-lg-3">
      <h1 class="display-4 fw-bold lh-1">{{ "challenge.participations.success.title"|trans }}</h1>
      <p class="lead">{{ "challenge.participations.success.description"|trans({'createdParticipations': createdParticipations})}} {{ 'challenge.participations.success.remaining_participations_description'|trans({'remaining': remainingParticipations})}}</p>
      <div class="d-grid gap-2 d-md-flex justify-content-md-start mb-4 mb-lg-3">
      {% if remainingParticipations > 0 %}
        <a href="{{ path('challenge_show', {'id': challenge.id}) }}#participate" class="btn btn-primary btn-lg px-4 me-md-2 fw-bold">{{ 'challenge.participation.participation_add'|trans }}</a>
      {% else %}
        <a href="{{ path('home') }}" class="btn btn-primary btn-lg px-4 me-md-2 fw-bold">{{ 'app.back_home'|trans }}</a>
      {% endif %}
      </div>
    </div>
    <div class="col-lg-4 offset-lg-1 p-0 position-relative overflow-hidden shadow-lg">
      <div class="position-lg-absolute top-0 left-0 overflow-hidden">
        <img class="d-block rounded-lg-3 img-fluid" src="{{ vich_uploader_asset(userParticipations|first, 'imageFile') }}" alt="" width="720">
      </div>
    </div>
  </div>
</div>
{% endblock %}