<div class="container my-5">
  <div class="row p-4 py-0 pe-lg-0 align-items-center rounded-3 shadow-lg">
    <div class="col-lg-6 p-3 p-lg-5 pt-lg-3">
      <h1 class="display-4 fw-bold lh-1">Border hero with cropped image and shadows</h1>
      <p class="lead">Quickly design and customize responsive mobile-first sites with Bootstrap, the world’s most popular front-end open source toolkit, featuring Sass variables and mixins, responsive grid system, extensive prebuilt components, and powerful JavaScript plugins.</p>
      <div class="d-grid gap-2 d-md-flex justify-content-md-start mb-4 mb-lg-3">
        <button type="button" class="btn btn-primary btn-lg px-4 me-md-2 fw-bold">Primary</button>
        <button type="button" class="btn btn-outline-secondary btn-lg px-4">Default</button>
      </div>
    </div>
    <div class="col-lg-5 offset-lg-1 p-4  overflow-hidden shadow-lg">
        {% if form is defined %}
        {{form_start(form)}}
        {{form_row(form.title)}}
        {{form_row(form.description)}}
        <img class="img-fluid col-12 mt-3" src="/img_placeholder.png" alt="Upload picture CTA">
        <input type="submit" value="submit" class="btn btn-primary w-100 mt-3">
        {{form_end(form)}}
        {% else %}
        <div style="min-height: 200px;">
        <p>Participations ouvertes aux inscrits</p>
        <a class="btn btn-primary" href="{{ path('app_login')}}">Connexion</a>
        <a class="btn btn-primary" href="{{ path('app_register')}}">Inscription</a>
        </div>
        {% endif %}
      </div>
  </div>
</div>