{% extends "./base_modal.html.twig" %}

{% block modal_title %}{{ participation.title }}{% endblock %}

{% block modal_id %}{{ modal_id }}{% endblock %}

{% block modal_title_id_reference %}{{ participation.title ~'_' ~ participation.id }}{% endblock %}

{% block modal_title_id %}{{ participation.title ~'_' ~ participation.id }}{% endblock %}

{% block modal_body %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-12 col-md-8">
            <img class="img-fluid" src="{{ vich_uploader_asset(participation, 'imageFile')}}">
            </div>
            <div class="col-12 col-md-4">
                <p>{{ participation.description }}</p>
            </div>
        </div>
    </div>
{% endblock %}

{% block footer_button %}
    {% if previous is defined and next is defined %}
    <button class="btn btn-primary" data-bs-target="{{ previous }}" data-bs-toggle="modal" data-bs-dismiss="modal">Précedent</button>
    <button class="btn btn-primary" data-bs-target="{{ next }}" data-bs-toggle="modal" data-bs-dismiss="modal">Suivant</button>
    {% endif %}
{% endblock %}